@{
    ViewBag.Title = "SignUpConfirmation";
    Layout = "~/Views/Shared/_RefereeLayout.cshtml";
}

<h2>Sign Up Confirmation</h2>

<div class="jumbotron">
    <h2>Congratulations</h2>
    <h3>
        A link has been sent on the Email ID.
        Please verify your email id to gain access to the application
    </h3>
</div>

