@model IEnumerable<Stripe.Models.SP_EVENT_REFEREE_AVAILABILITY_Result>
@{
    ViewBag.Title = "CheckAvailability";
    Layout = "~/Views/Shared/_RefereeLayout.cshtml";
}

<h2>Available Referee Position</h2>
<table>
    <thead>
        <tr>
            <td>

            </td>
        </tr>
    </thead>
</table>

